.trade
{
    /* border: 2px black solid; */
    padding: 15px;
    border-radius: 10px;
    /* background: #d7e8db; */
    text-align: left;
}

.formLbl
{
    font-size: 18px;
    margin-right: 13px;    
}

h4
{
    margin-bottom: 20px !important;
}

span
{
    padding: 5px;
}