.footerNote
{
    background-color: rgb(42, 117, 42);
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}