.roleImg
{
    width: 150px;
    height: 150px;
    border: solid 2px green;
}

.homepageBtn
{
    /* border-radius: 30px; */
    color: purple;
}

.btnSec
{
    text-align: center;
    align-content: center;
}

.menusGrp
{
    padding:40px;
    background-color: aliceblue;
}

.cardsDes
{
    padding: 10px;

}

.rows
{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.banner
{
    margin-left: -10px;
    margin-right: -10px;
}

h1{
    font-size: 28px !important;
    color: #28a793;
    padding-bottom: 20px;
    text-align: center;
}

.bannerCaption
{
    margin-top: -475px;
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.7;
}

#username
{
    width: 100%;
    font-size: 24px;
    text-align: center;    
}

.spc_row
{
    padding-top:    25px;
    padding-bottom: 25px;
}

.rodd
{
    background: #f1f1f1;
}

.reven
{
    background: #e7e7e7;
}